* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: white;
}

.nav {
    height: 100px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;

}

#p6 {
    bottom: 5%;
    left: 3%;
    font-size: 17px;

}

#nav-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav h3 {
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    border-radius: 50px;
    padding: 7px 12px;
    background-color: rgb(241, 88, 32);
}

i {
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}

.nav h1 {
    font-weight: 500;
    font-size: 50px;
}

.nav button {
    font-size: 16px;
    padding: 7px 12px;
    border: 1.5px solid black;
    border-radius: 50px;
}

#p4 {
    color: #fff;
    font-size: 16px;
    padding: 7px 12px;
    border: 1.5px solid black;
    border-radius: 50px;
    background-color: rgb(241, 88, 32);
}

#P5 {
    font-size: 100px;
    font-family: Century Schoolbook;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

}

img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;

}

#img1 {
    transform: translate(-50%, -50%) rotate(-40deg);
}

#img2 {
    transform: translate(-50%, -50%) rotate(-30deg);
}

#img3 {
    transform: translate(-50%, -50%) rotate(-20deg);
}

#img4 {
    transform: translate(-50%, -50%) rotate(0deg);
}

#p6 {
    bottom: 5px;
    left: 3px;
    font-weight: 500;
}